<div class="change-item">
  <div class="change-header">
    <h3 class="change-title">{{this.address}}</h3>
      <button>test</button>
  </div>
    <details>
        <summary>Open Details</summary>

        <div class="split">
            <div class="left">
                LEFT CONTENT
                <code>

                </code>
            </div>
            <div class="right">
                Right content
                <code>

                </code>
            </div>
        </div>
    </details>
</div>